# Angular
/frontend/.angular
/frontend/dist
/frontend/node_modules
/frontend/src/**/*.js
/frontend/src/**/*.js.map

# Maven
/backend/target
/backend/repo
/backend/.mvn
*.jar

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.iml
*.sln.docstates
*.[Cc]ache/
*.ide
*.user
*.userprefs

# Build outputs
/dist
/tmp
/out-tsc

# Dependencies
node_modules/
npm-debug.log
package-lock.json
yarn-lock.json

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# System
.classpath
.project
.settings/

# Logs
logs/
*.log
